# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

assets/logo-alt.png
assets/logo-alt2.png
assets/logo-alt3.png
assets/logo-alt4.png
assets/logo.svg
assets/splash.gif
assets/splash-alt.png
assets/icons/mail-outline.svg
assets/icons/phone.svg
santo-pulinho-figma-screens.pdf